.card-details-wrapper {
  background-color: #ffff;
  display: block;
  justify-content: center;
  border: 1px solid black;
  width: 150px;
  padding: 12px;
  margin-left: 45%;
  margin-top: 8px;
  border-radius: 8px;
  font-size: 1.4em;
}

@media only screen and (max-width: 500px) {
  .card-details-wrapper {
    margin-left: 30%;
  }
}
